$primary-color: #FF5500;
$brown: rgba(99, 0, 0, 0.25); 
$text-color: #a0a0a0;


// Màu sắc
$primary-color: #ef5327; // Màu cam của bạn
$secondary-color: #a0a0a0; // Ví dụ màu phụ
$background-color: #121212; // Màu nền tổng thể
$card-bg-color: #181818; // Màu nền cho các card/item
$card-hover-bg-color: #282828; // Màu nền khi hover card/item
$text-color-light: #fff; // Màu chữ sáng (mặc định)
$text-color-muted: #b3b3b3; // Màu chữ mờ/xám
$border-color: #333; // Màu đường viền
